@import "//at.alicdn.com/t/font_2141310_pkcf8yvo3sc.css";

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.hidden {
    display: none;
}